<%- include('header'); -%>
<div class="container">
    <div class="event">
    <h1>Add Event</h1>
    <fieldset>
    <form action="/insert" method="POST">
        <label for="new_event">Event Name</label>
        <input type="text" class="input" name="_event" id="new_event" placeholder="Enter Event Name">
        <label for="new_eventcode">Event Code</label>
        <input type="number" class="input" name="_eventcode" id="new_eventcode" placeholder="Enter event code">
        <label for="new_capacity">Capacity</label>
        <input type="number" class="input" name="_capacity" id="new_capacity" placeholder="Enter venue capacity">
        <label for="new_venue">Venue</label>
        <input type="text" class="input" name="_venue" id="new_venue" placeholder="Enter Venue Name">
        <% if(typeof error !== 'undefined'){ %>
        <div class="err-msg"><%= error %></div><% } %>

        <% if(typeof msg !== 'undefined'){ %>
        <div class="success-msg"><%= msg %></div><% } %>
        <input type="submit" value="Add">
    </fieldset>
    </form>
    <br><br>

            <a href="/"><button class="button">Go Back</button></a> 

    
</div>
<%- include('footer'); -%>